<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <div id="app">
        <input type="text" v-model="textDigitado" >        
        <br>
        {{textDigitado}}
        <br>
        <div v-if="textDigitado == 1" >
            <img v-bind:src="srcImg1" v-bind:title="titleImg">
        </div>
        <div v-if="textDigitado == 2">
            <img v-bind:src="srcImg2" v-bind:title="titleImg">
        </div>
        <div v-if="textDigitado == 3">
            <img v-bind:src="srcImg3" v-bind:title="titleImg">
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                textDigitado: '',
                srcImg1: 'vuelogo1.jpg',
                srcImg2: 'vuelogo2.jpg',
                srcImg3: 'vuelogo3.jpg',
                titleImg: 'Logo VUe'
            } ,                
        })
    </script>    
</body>
</html>